.footer {
    padding: 40px 0 45px;
    background-color: #000;
    &__descr {
        font-size: 12px;
        line-height: 20px;
        color: #B9B9B9;
        margin: 8px 0;
        text-align: center;
        span {
            display: none;
        }
    }
    &__social-networks {
        display: flex;
        justify-content: center;
        margin: 25px 0;
    }
    &__link {
        position: relative;
        display: block;
        margin-right: 5px;
        width: 34px;
        height: 34px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #F8902E;
        border-radius: 30px;
        &_facebook {
            border-color: #39599F;
        }
        &_twitter {
            border-color: #45B0E3;
        }
        &_dribbble {
            border-color: #D97AB0;
        }
        &_printerest {
            border-color: #CC212C;
        }
    }
    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        line-height: 24px;
        color: #B9B9B9;
        &::after {
            content: ' /';
            display: contents;
        }
        &:last-child::after {
            display: none;
        }
    }
}