.header {
    position: relative;
    &__menu {
        display: none;
        position: absolute;
        top: 63px;
        right: 25px;
        flex-direction: column;
        list-style-type: none;
        width: 50%;
        background-color: #F5F5F5;
        padding: 3px 0;
        &_active {
            display: flex;
        }
    }
    li {
        padding: 3px 13px;
        &:hover {
            background-color: #E5E5E5;
        }
        &:last-child {
            padding-bottom: 1px;
        }
        &:first-child .header__link {
            color: #57A4A4;
        }
    }
    &__link {
        font-size: 11px;
        line-height: 21px;
        text-transform: uppercase;
        color: $main-color;
    }
    &__burger {
        height: 40px;
        width: 45px;
        background-color: #000;
        position: absolute;
        top: 23px;
        right: 25px;
        span {
            position: absolute;
            width: 17px;
            height: 2px;
            background: #FFFFFF;
            top: 13px;
            left: calc(50% - 8px);
        &::after {
            content: '';
            position: absolute;
            width: 17px;
            height: 2px;
            background: #FFFFFF;
            top: 5px;
        }
        &::before {
            content: '';
            position: absolute;
            width: 17px;
            height: 2px;
            background: #FFFFFF;
            top: 10px;
        }
        }
        &_active {
            span {
                rotate: 45deg;
                top: 46%;
                &::after {
                    rotate: 90deg;
                    top: 0;
                }
                &:before {
                    display: none;
                }
            }
        }
    }
    &__img {
        min-width: 100%;
        width: 250px;
        margin-top: 83px;
    }


}