@media (min-width: 768px) {
    .container {
        padding: 0 80px;
    }
    .header {
        padding-top: 20px;
        &__burger {
            display: none;
        }
        &__menu {
            position: static;
            display: flex;
            flex-direction: row;
            background-color: #fff;
            justify-content: center;
            width: 100%;
            margin-right: 34px;
        }
        &__img {
            min-width: 100%;
            width: 610px;
            margin-top: 23px;
        }
    }
    .posts {
        &__item {
            display: flex;
        }
        &__img {
            margin-right: 20px;
        }
        &__text {
            margin-top: 10px;
        }
        &__descr {
            display: block;
            font-size: 14px;
            line-height: 26px;
            color: #5C5C5C;
            margin-top: 13px;
        }
    }
    .shots {
        background-color: rgba(0, 0, 0, 0.03);
        &__wrapp {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        &__img {
            width: 100%;
            min-width: 239px;
            margin-right: 9px;
            margin-top: 35px;
            &:not(:first-of-type){
                display: block;
            }
            &:nth-child(3) {
                margin-right: 0;
            }
            &:last-child{
                display: none;
            }
        }
        .title_shots {
            display: block;
        }
    }
    .footer {
        &__descr {
            margin: 22px auto 0;
            width: 684px;
            font-size: 16px;
            line-height: 28px;
            span {
                display: inline;
            }
        }
        &__contacts {
            position: relative;
            width: 610px;
            margin: 0 auto;
            a {
                display: inline;
                margin-right: 10px;
                font-size: 16px;
                line-height: 26px;
            }
        }
        &__contact {
            &::after {
                display: inline;
                position: relative;
                top: 0;
                left: 5px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .posts {
        &__items {
            display: flex;
            flex-wrap: wrap;
        }
        &__item {
            width: 50%;
            padding-right: 10px;
        }
    }
    .shots {
        &__img {
            &:not(:first-of-type){
                display: block;
            }
            &:nth-child(3) {
                margin-right: 9px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
}