.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #4E4E4E;
    text-transform: uppercase;
    &_shots {
        display: none;
        
    }
    &_white {
        color: #FEFEFE;
        text-align: center;
    }
}

