.posts {
    padding: 40px 0;
    &__img {
        width: 100%;
        max-width: 160px;
        margin-top: 25px;
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 30px;
        color: $main-color;
        margin-top: 11px;
    }
    &__comments {
        font-size: 11px;
        line-height: 20px;
        color: #7C7C7C;
    }
    &__descr {
        display: none;
    }
}