@import './variables';
@import './mixin';
@import './header';
@import './posts';
@import './shots';
@import './footer';
@import './media';

*{
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0 25px;
    margin: 0 auto;
}
